
<p>Welcome to the HeavyTruckParts Manager</p>

<p>Please make your selection. Options are as follows:</p>

  <ul>
    <li><a href="list_parts">List All Parts In Database</a></li>
    <li><a href="add_parts">Add A Part</a></li>
    <li><a href="search_parts_category">Search For Parts By Category</a></li>
    <li><a href="search_parts_zip_code">Search For Parts By Zip Code</a></li>
  </ul>