<% answer=Category.new(params["number"].to_i)%>
Here are the <%=Category.find(answer.id).category%> part listings.
   
   

    
    <ul>  
    
    <%answer.truck_parts.each do |object| %>
     <li>
       <%= object%>
     </li>
    <% end %>
    </ul> 
    <p><a href="../search_parts_category">Search again?</a></p>
    